@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#top-header {
  background: #bcf7ff;
  height: 5.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#top-header__logo {
  margin: 2px 15px 11px 20px;
  width: 100px;
}

#top-header__nav {
  display: flex;
  align-items: center;
  color: #000;
  gap: 6rem;
}

#top-header__nav a {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

#top-header__nav button {
  cursor: pointer;
  margin-right: 2rem;
  width: 80px;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
}

.blue-btn {
  cursor: pointer;
  background-color: #8ff2ff;
  border: none;
  border-radius: 5px;
}

.container {
  background-color: #eaf7ff;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;
}

.container h2 {
  margin-top: 3rem;
}

#add-car__form {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 4rem 0 2rem 0;
  border-radius: 10px;
  padding: 25px;
}

.add-car__form__label {
  font-weight: bold;
  margin: 5px;
}

.add-car__form__selects {
  background: #fff;
  border: 1px solid #a8a8a8;
  padding: 5px;
  height: 30px;
  width: 60%;
  margin: 6px;
  border-radius: 10px;
}

.add-car__form__selects:last-child {
  width: 20%;
}

.addcar-btn {
  height: 35px;
  width: 145px;
  font-size: 1rem;
}

#bottom-footer {
  background: #bcf7ff;
  margin-top: auto;
  height: 12rem;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

#bottom-footer__logo img {
  margin: 5px 0 0 1rem;
  height: 4rem;
}

#bottom-footer__links {
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
  line-height: 1.5rem;
}

#bottom-footer__links a {
  color: #000;
  text-decoration: none;
}

#bottom-footer__copyright {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  line-height: 3px;
}

#bottom-footer__copyright img {
  width: 22px;
  margin-right: 8px;
}

#bottom-footer__copyright__instagram {
  display: flex;
  align-items: center;
}

#bottom-footer__copyright__instagram_phrase {
  font-size: 1rem;
}

#bottom-footer__copyright_phrase {
  margin-top: 12px;
  font-size: 12px;
}
