@import url('./header.css');
@import url('./footer.css');
@import url('./reset-body-blue_btn.css');
@import url('./hamburger_menu.css');

.container {
  background-color: #eaf7ff;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.container h1 {
  margin: 3rem;
  font-size: 1.4rem;
}

#container__car-distance {
  width: 80%;
  display: flex;
  justify-content: space-around;
}

#washers {
  margin: 2rem 0 3rem 0;
  width: 85%;
}

.washers__profiles {
  background-color: #fff;
  position: relative;
  margin: 1rem;
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

.washers__profiles img {
  height: 80px;
  margin-left: 12px;
}

.washers___profiles_name {
  font-weight: bold;
  position: absolute;
  top: 12px;
  left: 105px;
}

.washers__profiles_see-ratings {
  display: none;
}

.washers__profiles__ratings {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  gap: 20px;
  font-weight: bold;
}

.washers__profiles__ratings p:first-child {
  margin-top: 9px;
}

.washers__profiles__ratings_price {
  background-color: #dcfcfe;
  width: 80px;
  height: 35px;
}

.washers__profiles__ratings_price p {
  margin-left: 17px;
  margin-top: 7px;
}

.washers__profiles__ratings-washBtn {
  display: flex;
  align-items: center;
  position: absolute;
  right: 10px;
  bottom: 10px;
  gap: 40px;
}

.washers__profiles__ratings-washBtn a {
  text-decoration: none;
}

.wash-btn {
  height: 30px;
  width: 145px;
  font-size: 1rem;
}

@media screen and (max-width: 768px) {
  .container {
    font-size: 0.9rem;
  }

  .container h1 {
    margin: 2.5rem;
    font-size: 1rem;
  }

  #container__car-distance {
    width: 100%;
    font-size: inherit;
    justify-content: space-evenly;
  }

  #washers {
    width: 95%;
  }

  .washers__profiles {
    height: 160px;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: space-evenly;
  }

  .washers___profiles_name {
    position: relative;
    top: auto;
    left: auto;
    margin-left: 1rem;
  }

  .washers__profiles img {
    height: 4rem;
    width: 4rem;
    margin-left: 1.5rem;
  }

  .washers__profiles_see-ratings {
    display: inline;
    text-decoration: none;
    margin-left: 1rem;
  }

  .washers__profiles__ratings {
    flex-direction: column;
    align-self: flex-end;
    align-items: flex-end;
    font-size: 0.8rem;
    top: 1.1rem;
    right: 1rem;
    gap: 0.8rem;
  }

  .washers__profiles__ratings_price {
    width: 60px;
    height: 30px;
    border-radius: 5px;
  }

  .washers__profiles__ratings p:first-child {
    margin-top: 0;
  }

  .washers__profiles__ratings p:last-child {
    margin-top: 0.6rem;
    margin-left: 0.9rem;
  }

  .washers__profiles__ratings-washBtn a {
    display: none;
  }

  .wash-btn {
    height: 25px;
    width: 130px;
    font-size: inherit;
  }
}

@media screen and (max-width: 400px) {
  .container {
    font-size: 0.8rem;
  }

  .container h1 {
    margin: 2.5rem;
    font-size: inherit;
  }

  .washers__profiles__ratings {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 320px) {
  .container {
    font-size: 0.7rem;
  }

  .container h1 {
    margin: 2.5rem;
    font-size: inherit;
  }
}
